html {
  font-size: 16px;
    line-height: 1.5;
    background: rgb(15, 15, 16);
    /* font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif; */
    font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
    color: var(--c-secondary);
    box-sizing: border-box;

}

body {
}

canvas {
  /*
  width: 960px;
  height: 952px;
  */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}


.canvas-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}


#main {
  /*visibility: hidden; */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  display: grid;

}

.logo {
  display: block;
  margin: var(--v-space) 0 0 0;
  color: white;
  font-size: 6.5rem;
}

.about {
  display: block;
  color: white;
  font-size: 2rem;
}

.timeline {
  padding-left: 100px;
  padding-right: 25%;
  grid-area: timeline;
  display: block;
  color: white;
  border-radius: 20px;
}

.timeline-block {
  border-radius: 20px;
  color: white;
  z-index: 2;
  background: var(--c-tertiary);
  backdrop-filter: saturate(100%) blur(40px);
  -webkit-backdrop-filter: saturate(180%) blur(40px);
  position: relative;
  padding: calc(var(--v-space)/2) 0;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". co description ."; 
}

.timeline-header {
  font-weight: var(--f-weight);
  font-size: 3rem;
  line-height: 1.4;
}

.timeline-description {
  padding-top: 10px;
  margin: calc(var(--v-space) * .5) 0 0;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.4;
  grid-area: description;
}
